tickTime=2000
dataDir={{ zookeeper_data_path }}
clientPort=2181
initLimit=10
syncLimit=5
{% for host in groups['zookeeper'] %}
server.{{ loop.index }}={{ hostvars[host]['ansible_env'].SSH_CONNECTION.split(' ')[2] }}:2888:3888
{% endfor %}
